
;===================================================================
;
;  /$$$$$$$           /$$           /$$                          
; | $$__  $$         | $$          | $$                          
; | $$  \ $$ /$$$$$$ | $$ /$$   /$$| $$$$$$$   /$$$$$$   /$$$$$$ 
; | $$$$$$$//$$__  $$| $$| $$  | $$| $$__  $$ |____  $$ /$$__  $$
; | $$____/| $$  \ $$| $$| $$  | $$| $$  \ $$  /$$$$$$$| $$  \__/
; | $$     | $$  | $$| $$| $$  | $$| $$  | $$ /$$__  $$| $$      
; | $$     |  $$$$$$/| $$|  $$$$$$$| $$$$$$$/|  $$$$$$$| $$      
; |__/      \______/ |__/ \____  $$|_______/  \_______/|__/      
;                         /$$  | $$                              
;                        |  $$$$$$/                              
;                         \______/                               
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==================================================================

[colors]
background = #D79921
background-alt = #444
foreground = #282828
foreground-alt = #555
primary = #ffb52a
secondary = #e60053
alert = #bd2c40
dark = #CC
red = #D23D3D
textColor = #282828
backColor1 = #D79921
backColor2 = #689D6A
backColor3 = #458588

[bar/mybar]
;monitor = ${env:MONITOR:HDMI-1}
width = 100%
height = 22
;offset-x = 5%
;offset-y = 5%
radius = 0
fixed-center = true

background = ${colors.dark}
foreground = ${colors.foreground}

line-size = 0
line-color = #f00

border-size = 0
;border-color = ${colors.purpleLight}
padding-left = 0
padding-right = 0

module-margin-left = 0
module-margin-right = 0

font-0 = agave Nerd Font:pixelsize=12;2
font-1 = Hurmit Nerd Font:pixelsize=12;3
font-2 = OpenDyslexicAlta Nerd Font:bold:pixelsize=13;3
font-3 = PowerlineSymbols:pixelsize=16;3

modules-left = veryleft mpd pwrright
modules-center = pwrleft empty2 i3 empty2 pwrright
modules-right = pwrleft memory battery date veryright 

tray-position = right
tray-padding = 1
tray-background = ${colors.dark} 
;wm-restack = bspwm
;wm-restack = i3

;override-redirect = true

;scroll-up = bspwm-desknext
;scroll-down = bspwm-deskprev

;scroll-up = i3wm-wsnext
;scroll-down = i3wm-wsprev

cursor-click = pointer
cursor-scroll = ns-resize

[bar/bottom]
;monitor = ${env:MONITOR:HDMI-1}
width = 100%
height = 22
offset-x = 5%
offset-y = 5%
radius = 0
fixed-center = true

background = ${colors.dark}
foreground = ${colors.foreground}

line-size = 3
line-color = #f00

border-size = 0
border-color = ${colors.dark}

padding-left = 0
padding-right = 0

module-margin-left = 0
module-margin-right = 0

font-0 = agave Nerd Font:pixelsize=12;2
font-1 = Hurmit Nerd Font:pixelsize=12;3
font-2 = OpenDyslexicAlta Nerd Font:bold:pixelsize=13;3
font-3 = PowerlineSymbols:pixelsize=16;4

modules-left = veryleft cpu pulseaudio xbacklight pwrright
modules-center = pwrleft empty2 title empty2 pwrright
modules-right = veryleft powermenu veryright

cursor-click = pointer
cursor-scroll = ns-resize

bottom = true

[module/user]
type = custom/script
format = ".  <label> "
exec = /bin/sh -c whoami
format-foreground = ${colors.textColor}
format-background = ${colors.backColor2}

;[module/bspwm]
;type = internal/bspwm
;
;label-focused = %index%
;label-focused-background = ${colors.background-alt}
;label-focused-underline= ${colors.primary}
;label-focused-padding = 2
;
;label-occupied = %index%
;label-occupied-padding = 2
;
;label-urgent = %index%!
;label-urgent-background = ${colors.alert}
;label-urgent-padding = 2
;
;label-empty = %index%
;label-empty-foreground = ${colors.foreground-alt}
;label-empty-padding = 2
;
; Separator in between workspaces
; label-separator = |

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

ws-icon-0 = "1;"
ws-icon-1 = "2;"
ws-icon-2 = "3;"
ws-icon-3 = "4;"
ws-icon-4 = "5;"
ws-icon-5 = "6;"
ws-icon-6 = "7;XII"
ws-icon-7 = "8;XIII"
ws-icon-8 = "9;IX"
ws-icon-9 = "10;X"

label-focused = %icon%
label-focused-foreground = ${colors.textColor}
label-focused-background = ${colors.backColor1}
label-focused-padding = 2
label-focused-font = 3

label-unfocused = %index%
label-unfocused-padding = 1
label-unfocused-foreground = ${colors.textColor}
label-unfocused-background = ${colors.backColor3}
;label-unfocused-underline = ${colors.purpleLight}
label-unfocused-font = 2

label-visible = %index%
label-visible-background = ${self.label-focused-background}
label-visible-padding = ${self.label-focused-padding}
label-visible-font = 2

label-urgent = %index%
label-urgent-background = ${colors.red}
label-urgent-padding = 2
label-urgent-font = 2

[module/mpd]
type = internal/mpd
format-online = <icon-stop><label-song><icon-prev><toggle><icon-next>
icon-prev = "  "
icon-prev-foreground = ${colors.textColor}
icon-prev-background = ${colors.backColor3}
icon-stop = "   "
icon-stop-foreground = ${colors.textColor}
icon-stop-background = ${colors.backColor1}
icon-play = "  "
icon-play-foreground = ${colors.textColor}
icon-play-background = ${colors.backColor3}
icon-pause = "  "
icon-pause-foreground = ${colors.textColor}
icon-pause-background = ${colors.backColor3}
icon-next = "   "
icon-next-foreground = ${colors.textColor}
icon-next-background = ${colors.backColor3}
label-song = " %title% "
label-song-foreground = ${colors.textColor}
label-song-background = ${colors.backColor2}
;label-song-underline = ${colors.purpleLight}

label-song-maxlen = 20
label-song-ellipsis = true

[module/xbacklight]
type = internal/xbacklight
label-foreground = ${colors.textColor}
label-background = ${colors.backColor3}
label = "  %percentage%% "

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = "  "
format-foreground = ${colors.textColor}
format-background = ${colors.backColor1}
label = "%percentage:2%% "

[module/memory]
type = internal/memory
interval = 2
format-prefix = "   "
format-prefix-foreground = ${colors.textColor}
label = "%percentage_used%% "
label-foreground = ${colors.textColor}
format-background = ${colors.backColor3}

[module/wlan]
type = internal/network
interface = wlp0s20u1i2
interval = 1

format-connected = "<label-connected> "
format-connected-foreground = ${colors.textColor}
format-connected-background = ${colors.backColor3}
label-connected = "  %{A1:networkmanager_dmenu:} haha yes connected!%{A}"
label-connected-foreground = ${colors.textColor}

format-disconnected = <label-disconnected>
format-disconnected-foreground = ${colors.textColor}
format-disconnected-background = ${colors.backColor1}
label-disconnected = " 睊  wifi go brrr "
label-disconnected-foreground = ${colors.textColor}

[module/date]
type = internal/date
interval = 5
 
date-alt = "%d-%m-%Y "

time = " %I:%M %p"
time-alt = " %I:%M %p |"

format-prefix = "  "
format-foreground = ${colors.textColor} 
;format-underline = ${colors.purpleLight}
format-background = ${colors.backColor1}

label = "%time% %date%"

[module/pulseaudio]
type = internal/pulseaudio

label-volume = "   %percentage%% "
label-volume-foreground = ${colors.textColor}
label-volume-background = ${colors.backColor2}

label-muted = "  muted "
label-muted-foreground = ${colors.textColor}
label-muted-background = ${colors.backColor2}

[module/battery]
type = internal/battery
battery = BAT0
adapter = ADP1
full-at = 100

format-charging = "<animation-charging> <label-charging> "
format-discharging = "<animation-discharging> <label-discharging> "

format-full-prefix = "   "
format-foreground = ${colors.textColor} 

format-charging-background = ${colors.backColor2}
format-discharging-background = ${colors.backColor2}
label-charging-foreground = ${colors.textColor}
label-discharging-foreground = ${colors.textColor}

animation-charging-3 = "   "
animation-charging-2 = "   "
animation-charging-1 = "   "
animation-charging-0 = "   "
animation-charging-foreground = ${colors.textColor}
animation-charging-framerate = 750

animation-discharging-0 = "   "
animation-discharging-foreground = ${colors.textColor}
animation-discharging-framerate = 750

[module/powermenu]
type = custom/menu

expand-right = true

format-spacing = 1
label-open = "   "
label-open-foreground = ${colors.textColor}
label-open-background = ${colors.backColor1}
label-close = " cancel "
label-separator = " " 
label-separator-background = ${colors.backColor1}
label-separator-foreground = ${colors.textColor}
label-close-foreground = ${colors.textColor}
label-close-background = ${colors.backColor1}

menu-0-0 = " reboot "
menu-0-0-exec = reboot
menu-0-1 = " power off "
menu-0-1-exec = poweroff
menu-0-2 = " suspend "
menu-0-2-exec = systemctl suspend

menu-0-0-background = ${colors.backColor1}
menu-0-1-background = ${colors.backColor1}
menu-0-2-background = ${colors.backColor1}

menu-0-0-foreground = ${colors.textColor}
menu-0-1-foreground = ${colors.textColor}
menu-0-2-foreground = ${colors.textColor}

[module/title]
type = internal/xwindow

format = <label>
format-background = ${colors.backColor3}
format-foreground = ${colors.textColor}
;format-underline = ${colors.purple}

label = %title%
label-maxlen = 50

label-empty = Enjoy Your Wallpaper
label-empty-foreground = ${colors.textColor}
label-empty-background = ${colors.backColor3}

[module/veryright]
type = custom/text
content = " "
content-font = 4
content-foreground = ${colors.backColor1}

[module/veryleft]
type = custom/text
content = " "
content-font = 4
content-foreground = ${colors.backColor1}

[module/pwrleft]
type = custom/text
content = " "
content-font = 4
content-foreground = ${colors.backColor3}

[module/pwrright]
type = custom/text
content = " "
content-font = 4
content-foreground = ${colors.backColor3}

[module/empty2]
type = custom/text
content = " "
content-background = ${colors.backColor3}

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = true

[global/wm]
margin-top = 5
margin-bottom = 5

; vim:ft=dosini
